{:paths ["src"]
 ;; Keep these in sync with deps.edn
 :deps {justone/scribe {:local/root "."}}
 :tasks
 {test {:extra-paths ["test"]
        :extra-deps {io.github.cognitect-labs/test-runner
                     {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
        :task (exec 'cognitect.test-runner.api/test)
        :exec-args {:dirs ["test"]}
        :org.babashka/cli {:coerce {:nses [:symbol]
                                    :vars [:symbol]}}}
  quickdoc {:doc "Invoke quickdoc"
            :extra-deps {io.github.borkdude/quickdoc {:git/sha "7c8bef54eda28367193ec433af01bb940114f012"}}
            :task (exec 'quickdoc.api/quickdoc)
            :exec-args {:git/branch "master"
                        :github/repo "https://github.com/justone/scribe"}}}}
