{:aliases {:repl {:extra-deps {io.github.justone/cljdev {:sha "b1956efcbafb5e1b5e0fc9bfb5715c25e9efae5e"}}
                  :exec-fn cljdev.repl/start}
           :test {:main-opts ["-m" "kaocha.runner"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}}
 :paths ["src"]
 :deps {babashka/fs {:mvn/version "0.5.30"}
        babashka/process {:mvn/version "0.6.23"}
        cheshire/cheshire {:mvn/version "6.1.0"}
        io.github.babashka/tasks {:sha "d7085862774d0a8df9bc43e9aa969896741bc0e7"}
        org.clojure/tools.cli {:mvn/version "1.2.245"}}}
